# Contexte "backend/" (build multi-module via docker/Dockerfile.springboot)
**/.git
**/target
**/.idea
**/.vscode
**/.settings
**/.classpath
**/.project
**/.factorypath
**/.apt_generated
**/node_modules
